$size-15: 15px;
$color-orangered: orangered;
$color-bg-services: lightgrey;

.flex {
  display: flex;
}

.row-flex {
  @extend .flex;
  flex-direction: row;
}

.col-flex {
  @extend .flex;
  flex-direction: column;
}

.zero-padding-margin {
  padding: 0px;
  margin: 0px;
}
* {
  box-sizing: border-box;
}
body {
  @extend .zero-padding-margin;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
}

.row {
  @extend .row-flex;
  align-items: center;
}
.column {
  flex: 50%;
}

.top-narrow-header {
  @extend .zero-padding-margin;
  background-color: rgba(216, 50, 14, 0.9);
  height: 40px;
  line-height: 40px;
  padding-left: 60px;

  ul {
    @extend .zero-padding-margin;
    list-style: none !important;
    list-style-type: none;
    display: inline;
  }

  li {
    display: inline-block;
  }

  a {
    color: white;
  }

  .search-component {
    display: inline;
    float: right;
    width: 200px;
    background: white;
    border-radius: 30px;
    height: 30px !important;
    line-height: 30px;
    margin: 5px 60px 5px 0px;
    text-align: center;

    .search-field {
      width: 160px;
      border: none;

      padding-left: 10px;
    }

    .search-icon {
      vertical-align: middle;
    }
  }
}

.title-bar {
  padding: 0 60px;

  .main-header {
    height: 100px;

    div.application-title {
      h1 {
        margin-bottom: 0px;
        font-size: 40px;
      }

      h6 {
        margin: 0px;
      }
    }

    div.application-sharing-opt {
      text-align: right;

      .share-btn-group {
        a:hover {
          background: orange;
        }

        a {
          display: inline-block;
          height: 30px;
          width: 30px;
          background: red;
          text-align: center;
          border-radius: $size-15;

          img {
            height: 20px;
            width: 20px;
            color: white;
            margin: 5px;
          }
        }
      }
    }
  }
}

.top-menu-bar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;

  .menu-bar {
    a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 0 20px;
      font-size: $size-15;
    }

    a:hover {
      color: rgb(211, 50, 50);
    }
  }
}

.top-article {
  @extend .row-flex;
  padding: 0 50px;
  margin-top: 20px;

  .top-article-content {
    padding: 0px 10px;
    margin-top: 50px;

    h1 {
      font-size: 75px;
      margin-bottom: 0px;
    }

    p {
      margin-top: 5px;
    }
  }
}

.read-more-btn {
  background-color: transparent;
  border: none;
  color: blue;
  font-weight: bold;
}

.latest-articles-container {
  @extend .row-flex;
  background-color: $color-bg-services;
  margin: 0 50px;
  flex: 1;

  & > div {
    @extend .col-flex;
    padding: 0 20px;
    flex: 1;
  }

  div.about-us {

    .about-us-img-container {

      img {
        width: 100%;
        height: 140px;
      }
    }
  }

  div.services {
    @extend .col-flex;

    .services-content {
      @extend .col-flex;
      flex-grow: 1;

      .service-item {
        @extend .row-flex;
        padding: 0px;
        flex-grow: 1;

        .service-item-img {
          img {
            width: 64px;
            height: 64px;
          }
        }
      }

      .service-item-desc {
        padding: 0px 7px;
        h3 {
          margin: 0px;
        }
        p {
          margin-top: 5px;
        }
      }
    }
  }

  div.testimonial {
    div.testimonial-content {
      @extend .col-flex;
      flex-grow: 1;

      .testimonianl-item {
        flex-grow: 1;

        .client-profile {
          @extend .row-flex;
          align-items: center;

          .client-name {
            padding: 0px 4px;

            p > span {
              color: grey;
            }
          }
        }
      }
    }
  }
}

.tweet-blog-container {
  @extend .row-flex;
  flex: 1;
  margin: 20px 50px 0 50px;

  & > div {
    border-top: 5px solid lightgrey;
    @extend .col-flex;
    flex: 1;
    margin: 0px 10px;
  }

  div.latest-tweets {
    div.tweet {
      span.tweeter-handle {
        color: $color-orangered;
      }
    }
  }

  div.latest-blog {
    div:nth-child(n + 3) {
      margin-top: 20px;
    }

    div.blog-post {
      & > * {
        margin: 0px;
      }

      p.writer-info {
        font-size: $size-15;

        .role {
          color: $color-orangered;
        }

        .domain {
          color: blue;
        }
      }

      p.posted-date {
        font-size: $size-15;
        color: grey;
      }

      p.blog-content {
        margin-top: 10px;
      }
    }
  }

  div.quick-links {
    .quick-links-list {
      ul {
        list-style: none;
        margin: 0.75em 0;
        padding: 0 1em;
      }

      ul > li {
        border-bottom: 1px solid lightgrey;
        padding: 3px 4px;
        height: 40px;
        line-height: 40px;
      }

      ul > li:before {
        content: "";
        border-radius: 50%;
        border-style: solid;
        border-width: 1px;
        width: 10px;
        height: 10px;
        margin-right: 0.3em;
        position: relative;
        display: inline-block;
      }
    }
  }

  div.contact-us {
    div.contact-us-form {
      form {
        .contact-us-field {
          margin: 10px 0px !important;
          padding-left: 5px;
          width: 95%;
          border: none;
          background-color: $color-bg-services;
        }
        input {
          height: 25px;
        }
        button {
          border: none;
          color: $color-orangered;
          height: 30px;
          width: 80px;
        }
      }
    }
  }
}

.footer {
  margin: 0px 50px 0 50px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: $color-bg-services;
}

div.more-btn-container {
  text-align: right;
  font-size: 20px;
}
